.index{
    width:100%;
    height:50PX;
    background-color: rgb(137, 211, 225);
    font-size: 20PX;
    font-weight: 600;
    color: rgb(46, 47, 47);
    // text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    position: fixed;
    width:100%;
    background-color: rgb(147, 185, 185);
    left:0;
    bottom: 0;
}
.showtxt{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    background-color: #e9f6f3;
    // height:750PX;
    // text-align: center;
    padding-bottom: 20PX;
    .txt1,.txt2{
        margin-top:10PX;
        margin-left: 20PX;
    }
    .txt2{
        // height:200PX;
        // background-color: #abf2e1;
        margin-left: 45PX;
    }
}